<!-- Start Slider -->
<div class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="content" data-aos="zoom-in">
            <div class="content--texts">
              <h1 class="content--texts_heading">
                Great deals on mobiles
              </h1>
              <a class="content--texts_start">Shop Now</a>
            </div>
          </div>
          <div class="carousel-item carousel-1 active"></div>
          <div class="carousel-item carousel-2"></div>
      </div>
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
  </div>
</div>

<!-- End Slider -->
