.modern-products {
  &_showAll {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2.2rem;
    position: relative;
    p::after {
      content:"";
      position: absolute;
      top: 1.2rem;
      right: 8.5rem;
      width:66rem;
      height: .3px;
      background-color: #b7aeca;
      display:none
    }
    a {
      padding: 0.3rem 2rem;
      font-weight: bold;
      transition: all .1s linear;
      &:hover {
        background-color: #000;
        color:#FFF
      }
    }
  }
}

@media(min-width:1400px){
  .modern-products p::after {
    display: inline-block;
  }
}
